/.pytest_cache
/.venv
/asd.py
/ex.py
/file
/firstscript.py
/geckodriver.log
/lesson16_step11.py
/link.py
/login.py
/pytest.ini
/pyvenv.cfg
/requirements.txt
/screenshots
/screenurl.py
/test.py
/test1.py
/test_abs.py
/test_abs_project.py
/test_conftest.py
/test_fixture1.py
/test_fixture10a.py
/test_fixture2.py
/test_fixture3.py
/test_fixture5.py
/test_fixture8.py
/test_fixture_autouse.py
/test_parser.py
/test_rerun.py
/web error.py
/__pycache__